@{
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Message"]</h1>

<address>
    Sam's Hot Rods<br />
    Lincoln, Nebraska<br />
    <abbr title="Phone">P:</abbr>
    402-437-2803
</address>

<address>
    <strong>Support:</strong> <a href="mailto:sg630912@southeast.edu">Sam@SamHotRods.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sg630912@southeast.edu">Marketing@samsHotRods.com</a>
</address>
